* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
}

header, footer{
    background-color: white;
    padding: 20px 50px;
}

a {
    color: #242424;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

em{
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 80px;
}

h2 {
    color: #f9f8ff;
}

p, li {
    font-size: 1.1em; 
    color: #f9f8ff;  
}

.cta {
    display: inline-block;
    background: linear-gradient(#8e86b5, #acaeed) ;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px ;
    padding: 20px 30px;
    
}

.cta:hover {
    background: linear-gradient(#696484, #8788ba) ;
    text-decoration: none;
}

.about_description {
    border-right:  1px solid #a5b4fc;
    border-bottom:  1px solid #a5b4fc;
    padding: 50px;
    margin-bottom: 80px;
}

.about_description h2{
    margin-top: 30px;
}

.about_description ul{
    margin-top: 30px;
}

.about_description + div{  
    text-align:  center;
}

section{
    padding: 80px;
}

.about{
    width: 50%;
    margin: auto;
}

.linkIcon{
    margin-left: 30px;
}

.linkIcon:hover {
    opacity: 0.5;
}

footer, nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    margin-left: 30px;
}

.main_intro{
    display: flex;
    align-items: flex-start;
    width: 60%;
    margin: auto;
}

.main_intro h1{
    margin-bottom: 15px;
}

.main_intro p {
    margin-bottom: 30px;
}
.main_intro div {
    padding-right: 80px;
}

.project {
    background-color: #f9f8ff;
    padding: 80px;
}

.project h2{
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.project div{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 15px;
}

.portfolio-photo {
    background-color: #f9f8ff;
}

.portfolio-photo h2{
    margin-bottom: 80px;
    color: #242424;
}

.grid-paysages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 15px;
    margin-bottom: 80px;
}

.grid-portrait {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
}

.grid-paysages img,
.grid-portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lien-container-photo{
    position: relative;
}

.photo-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f8ff;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    font-size: 1.5em;
}

.lien-container-photo:hover .photo-hover{
    display: flex;
}